
* {
  box-sizing: border-box;
}

body {
/*   font-family: 'PT Sans', sans-serif; */
  font-family: 'Barlow', sans-serif;
  outline: 1px solid red;
  overflow-x: hidden;
  
}

.bullet-list li::before {
  content: "⮞";
  margin-right: 0.5rem;
}

.about-front-title {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 3em;

}


.about-node {
  max-width: 500px;
  letter-spacing: 1.2px;
  line-height: 1.2em;
  font-family: 'Barlow Condensed', sans-serif;

}

.title-node {
  font-size: 40px;
}

.label-node {
  font-size: 30px;
  font-style: normal;
}

.image-caption {
  font-size: 18px;
}

.bullet-list li {
  margin-bottom: 0.5rem;
}
.about-title {
  font-size: 22px;
}
.about-text {
  font-size: 20px;
}

.expertise-node {
  font-family: 'Barlow Condensed', sans-serif;
  letter-spacing: .1em;
  font-size: 16pt;
}

.resume-tooltip {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 18pt;
}

.experience-node {
  max-width: 400px;
  padding: 4px;
}

.experience-description {
  font-size: 14px;
  font-family: 'Barlow Condensed', sans-serif;
}

.experience-position {
  font-size: 20px;
  font-family: 'Barlow Condensed', sans-serif;
}

.experience-date {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 16pt;
  mix-blend-mode: hard-light;
}

.experience-subtitle {
  font-size: 14px;
}

.education-node {
  max-width: 300px;
}

.label-node, .title-node {
  font-family: 'Barlow Condensed', sans-serif;
}


.summary-node {
  max-width: 600px;
  box-shadow: 10px;
}

.summary-node > h2 {
  font-size: 28px;
}

.summary-node > p {
  font-size: 20px;
  font-family: 'Barlow Condensed', sans-serif;
}


.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}
